.gradle
/local.properties
/.idea/libraries
/.idea/workspace.xml
/.idea/misc.xml
/.idea/compiler.xml
/.idea/.name
/.idea/encodings.xml
/.idea/gradle.xml
/.idea/modules.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
.DS_Store
/build
/captures
